*\.lo
*\.la
Makefile
Makefile\.in
*\.gmo
AUTHORS
INSTALL
aclocal\.m4
autom4te\.cache/
compile
config\.guess
config\.h
config\.h\.in
config\.log
config\.status
config\.sub
configure
depcomp
docs/man/en/entangle\.1
entangle\.spec
gtk-doc\.make
install-sh
libtool
ltmain\.sh
m4/gtk-doc\.m4
m4/intltool\.m4
m4/libtool\.m4
m4/ltoptions\.m4
m4/ltsugar\.m4
m4/ltversion\.m4
m4/lt~obsolete\.m4
missing
po/Makefile\.in\.in
po/POTFILES
po/stamp-it
src/\.deps/
src/\.libs/
src/Entangle-*\.gir
src/Entangle-*\.typelib
src/backend/entangle-colour-profile-enums\.c
src/backend/entangle-colour-profile-enums\.h
src/entangle
src/entangle-entangle-main\.o
src/entangle\.appdata\.xml
src/entangle\.desktop
src/frontend/entangle-image-display-enums\.c
src/frontend/entangle-image-display-enums\.h
src/org\.entangle-photo\.manager\.gschema\.valid
stamp-h1
