
/************************** LAYOUT ************************/

/* Reset default page padding / margins */
body {
    padding: 0px;
    margin: 0px;
}

/* These 4 areas must all have no border, padding, margin
 * to ensure that their widths end up *exactly* 100%
 * otherwise scrollbars appear
 */
#main, #panel, #header, #footer {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/* Header occupies entire top strip */
#header {
    position: absolute;
    width: 100%;
    top: 0px;
}

/* Content takes most of the space */
#main {
    width: 75%;
    margin-top: 120px;
}

/* Right hand panel takes the remainder, over on right */
#panel {
    position: absolute;
    width: 25%;
    top: 115px;
    right: 0px;
}

/* Footer is lined up with content */
#footer {
    width: 75%;
}


/******************** GRAPHICS / COLOURS ************************/

body {
    background-color: #eee;
}

#header {
    height: 113px;
    background: #dfb63b url(header-bg.png) repeat-x top left;
    border-bottom: 1px solid #7d6621;
    color: white;

    /* The next <h1> spills out of header, so force this down
       to botom to avoid covering hyperlinks */
    z-index: -100;
}

#header h1 {
    background-image: url(logo-bg.png);
    background-repeat: no-repeat;
    background-position: top right;
    height: 463px;
    margin: 0px;
    padding: 0px;
    padding: 1em;
}


#footer {
    color: #888;
}

#footer a {
    color: inherit;
}

#content {
    margin: 2em;
}

#navigation a {
    color: #2c3b5f;
}

#navigation div.section {
    border: 2px solid #332a0d;
    margin: 10px;
    padding: 1px;
    background: url(panel-bg.png) repeat top left;
}

#navigation h3 {
    margin: 5px;
    padding-left: 40px;
    height: 32px;
    line-height: 32px;
}

#navigation h3 a {
    text-decoration: none;
}

#docs {
    background: url(icon-docs.png) no-repeat center left;
}
#comms {
    background: url(icon-comms.png) no-repeat center left;
}
#bugs {
    background: url(icon-bugs.png) no-repeat center left;
}
#scm {
    background: url(icon-scm.png) no-repeat center left;
}
#download {
    background: url(icon-download.png) no-repeat center left;
}

#navigation p, #navigation pre {
    margin: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
}